<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/07737f77be.js"></script>

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <title>Mua Hàng Flash Sale Detail - Mamamy</title>
    <link rel="stylesheet" href="./css/splide.min.css">
    <link rel="stylesheet" href="./css/materialdesignicons.css">
    <link rel="stylesheet" href="css/style.css">
    
    
    
</head>

<body>
    <!-- header -->
    <div class="header">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <h1 hidden>Mua Hàng Flash Sale Detail - Mamamy</h1>
                <a class="navbar-brand mx-auto" href="javascript:void(0)">
                    <img src="./images/icons/logo.png" class="logo"  alt="">
                </a>
                <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navb" aria-expanded="false">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
              
                <div class="navbar-collapse collapse" id="navb">
                  <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                      <a class="nav-link text-dark" href="javascript:void(0)">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-dark" href="javascript:void(0)">Mamamy's Story</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-dark" href="javascript:void(0)">Sản phẩm</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link color-master" href="javascript:void(0)">Mua hàng</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-dark" href="javascript:void(0)">Góc của mẹ</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-dark" href="javascript:void(0)">Đổi quà</a>
                    </li>
                  </ul>
                </div>
                <div class="icon-header">
                    <a href="javascript:void(0)"><i class="fa fa-user text-secondary mx-1"></i></a>
                    <a href="javascript:void(0)"><i class="fa fa-search text-secondary mx-1"></i></a>
                    <a href="javascript:void(0)"><i class="fa fa-bell text-secondary mx-1"></i></a>
                </div>
            </nav>
        </div>
        
    </div>
    <!-- end header -->

    <!-- body -->
    <main class="body">
        <article class="block-breadcrumb ">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">Home</li>
                <li class="breadcrumb-item " aria-current="page">Mua Hàng</li>
                <li class="breadcrumb-item " aria-current="page">Tã bỉm</li>
                <li class="breadcrumb-item active" aria-current="page">Tã Dán Mamamy UltraFlow “Ngừa hăm & mẩn đỏ tối đa” – Made in Korea</li>
            </ol>
        </article>
        <!-- banner -->
        <article class="flash-sale banner-product-slider">
            <div class="coupon-slider">
            	<div class="coupon-slider-left">
            		<div class="p-example p-example--block">
		                <div class="p-example__body">
		                    <div class="p-example__splide">
		                        <div id="example-sync" class="splide js-splide-primary p-splide p-splide--primary" data-splide='{"type":"fade","heightRatio":0.7,"pagination":false,"arrows":false,"cover":true,"lazyLoad":"sequential"}'>
		                            <div class="splide__track">
		                                <ul class="splide__list">
		                                    <li class="splide__slide p-splide__slide"><img data-splide-lazy="./images/mua-hang/banner-muahang-2.jpg" alt="Sample Image 01"></li>
		                                    <li class="splide__slide p-splide__slide"><img data-splide-lazy="./images/mua-hang/banner-muahang-1.jpg" alt="Sample Image 02"></li>
		                                    <li class="splide__slide p-splide__slide"><img data-splide-lazy="./images/mua-hang/banner-muahang-2.jpg" alt="Sample Image 03"></li>
		                                    <li class="splide__slide p-splide__slide"><img data-splide-lazy="./images/mua-hang/banner-muahang-1.jpg" alt="Sample Image 04"></li>
		                                    <li class="splide__slide p-splide__slide"><img data-splide-lazy="./images/mua-hang/banner-muahang-2.jpg" alt="Sample Image 05"></li>
		                                    <li class="splide__slide p-splide__slide"><img data-splide-lazy="./images/mua-hang/banner-muahang-1.jpg" alt="Sample Image 06"></li>
		                                    <li class="splide__slide p-splide__slide"><img data-splide-lazy="./images/mua-hang/banner-muahang-2.jpg" alt="Sample Image 07"></li>
		                                    <li class="splide__slide p-splide__slide"><img data-splide-lazy="./images/mua-hang/banner-muahang-1.jpg" alt="Sample Image 08"></li>
		                                    <li class="splide__slide p-splide__slide"><img data-splide-lazy="./images/mua-hang/banner-muahang-2.jpg" alt="Sample Image 09"></li>
		                                    <li class="splide__slide p-splide__slide"><img data-splide-lazy="./images/mua-hang/banner-muahang-1.jpg" alt="Sample Image 09"></li>
		                                </ul>
		                            </div>
		                        </div>
		                        <div id="example-sync-thumbnail" class="splide js-splide-secondary p-splide p-splide--secondary" data-splide='{"rewind":true,"fixedWidth":100,"fixedHeight":60,"isNavigation":true,"gap":10,"focus":"center","pagination":false,"cover":true,"lazyLoad":"sequential","breakpoints":{"600":{"fixedWidth":66,"fixedHeight":40}}}'>
		                            <div class="splide__track">
		                                <ul class="splide__list">
		                                    <li class="splide__slide p-splide__slide"><img data-splide-lazy="./images/mua-hang/banner-muahang-2.jpg" alt="Sample Image 01"></li>
                                            <li class="splide__slide p-splide__slide"><img data-splide-lazy="./images/mua-hang/banner-muahang-1.jpg" alt="Sample Image 02"></li>
                                            <li class="splide__slide p-splide__slide"><img data-splide-lazy="./images/mua-hang/banner-muahang-2.jpg" alt="Sample Image 03"></li>
                                            <li class="splide__slide p-splide__slide"><img data-splide-lazy="./images/mua-hang/banner-muahang-1.jpg" alt="Sample Image 04"></li>
                                            <li class="splide__slide p-splide__slide"><img data-splide-lazy="./images/mua-hang/banner-muahang-2.jpg" alt="Sample Image 05"></li>
                                            <li class="splide__slide p-splide__slide"><img data-splide-lazy="./images/mua-hang/banner-muahang-1.jpg" alt="Sample Image 06"></li>
                                            <li class="splide__slide p-splide__slide"><img data-splide-lazy="./images/mua-hang/banner-muahang-2.jpg" alt="Sample Image 07"></li>
                                            <li class="splide__slide p-splide__slide"><img data-splide-lazy="./images/mua-hang/banner-muahang-1.jpg" alt="Sample Image 08"></li>
                                            <li class="splide__slide p-splide__slide"><img data-splide-lazy="./images/mua-hang/banner-muahang-2.jpg" alt="Sample Image 09"></li>
                                            <li class="splide__slide p-splide__slide"><img data-splide-lazy="./images/mua-hang/banner-muahang-1.jpg" alt="Sample Image 09"></li>
		                                </ul>
		                            </div>
		                            <div class="splide__arrows p-splide__arrows">
		                            	<button class="splide__arrow p-splide__arrow splide__arrow--prev p-splide__arrow--prev"><img src="./images/coupon/back.png"></button>
		                            	<button class="splide__arrow p-splide__arrow splide__arrow--next p-splide__arrow--next"><img src="./images/coupon/next.png"></button>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            <div class="share-coupon">
		            	<p>Chia sẻ </p>
		            	<div class="share-coupon-group">
		            		<a href="javascript:void(0)" class="share-coupon-icon">
		            			<img src="./images/coupon/messenger.png">
		            		</a>
		            		<a href="javascript:void(0)" class="share-coupon-icon">
		            			<img src="./images/coupon/fb.png">
		            		</a>
		            		<a href="javascript:void(0)" class="share-coupon-icon">
		            			<img src="./images/coupon/google.png">
		            		</a>
		            		<a href="javascript:void(0)" class="share-coupon-icon">
		            			<img src="./images/coupon/link.png">
		            		</a>

		            	</div>
		            	<div class="share-coupon-like">
		            		<a href="javascript:void(0)"><i class="fa fa-heart liked" aria-hidden="true"></i></a>
		            		Đã thích (33)
		            	</div>
		            </div>
            	</div>
            	<div class="product-slider-right">
            		<div class="product-slider-right-content">
            			<h3>Tã Dán Mamamy UltraFlow “Ngừa hăm & mẩn đỏ tối đa” – Made in Korea</h3>
                        <div class="rating-stars">
                            <!-- <i class="s s0"></i> -->
                            <div class="show-rating-block">
                                <div class="show-rating-star">
                                    <input type="hidden" name="" class="star-5-show">
                                    <label class="rating-star show-rating-star-show"></label>
                                    <label class="rating-star show-rating-star-show"></label>
                                    <label class="rating-star show-rating-star-show"></label>
                                    <label class="rating-star show-rating-star-show"></label>
                                    <label class="rating-star show-rating-star-disable"></label>
                                    <span class="number-of-rating" data-number="341">341 đánh giá</span>
                                </div>
                            </div>
                        </div>
                        <div class="block-product-flash-sale">
                            <div class="block-product-flash-sale-left">
                                <h3>FLASH SALE</h3>
                                <p><i class="fa fa-check"></i>Giá thấp nhất trong 30 ngày qua <i class="fa fa-check"></i>Thời gian có hạn</p>
                            </div>
                            <div class="block-product-flash-sale-right">
                                <p>Kết thúc trong</p>
                                <div id="clockdiv">
                                    <div>
                                        <span class="hours">23</span>
                                    </div>
                                    <div>
                                        <span class="minutes">59</span>
                                    </div>
                                    <div>
                                        <span class="seconds">55</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="product-promotion"><span>249.000 VNĐ</span><strong>186.000 VNĐ</strong> <promotion>Giảm 30%</promotion></p>
            			<p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tellus enim, fringilla sed blandit et, pretium vitae quam. Phasellus purus urna, maximus ut arcu sit amet.</p>
            			<a href="" class="btn-detail-coupon">Xem chi tiết</a>
                        <div class="block-size-quantity">
                            <div class="block-size">
                                <div class="block-size-quantity-left">Size</div>
                                <div class="block-size-quantity-right">
                                    <a class="active product-size" href="">S54</a>
                                    <a class="product-size" href="">M46</a>
                                    <a class="product-size" href="">L42</a>
                                    <a class="product-size" href="">XL36</a>
                                    <a href="" class="btn-detail-coupon">Bảng Size Guide</a>
                                </div>

                            </div>
                            <div class="block-quantity">
                                <div class="block-size-quantity-left">Số lượng</div>
                                <div class="block-size-quantity-right">
                                    <span class="mdi mdi-minus"></span>
                                    <strong>05</strong>
                                    <span class="mdi mdi-plus"></span>
                                </div>
                            </div>
                        </div>

                        <a class="block-btn-cart">
                            <img src="./images/mua-hang/cart.png">
                            <span>THÊM vào giỏ hàng</span>
                        </a>

                        <div class="block-product-service row mx-0 px-0 text-center">
                            <div class="block-product-service-item">
                                <div class="product-service">
                                    <img src="./images/free-ship.png" alt="">
                                </div>
                                
                                <p class="product-service-des">Freeship toàn quốc</p>
                            </div>
                            <div class="block-product-service-item">
                                <div class="product-service">
                                    <img src="./images/doi-tra-hang-mien-phi.png" alt="">
                                </div>
                                
                                <p class="product-service-des">Đổi trả hàng miễn phí</p>
                            </div>
                            <div class="block-product-service-item">
                                <div class="product-service">
                                    <img src="./images/mien-phi-dung-thu.png" alt="">
                                </div>
                                <p class="product-service-des">Miễn phí dùng thử</p>
                            </div>
                        </div>

            		</div>
            		
            	</div>
            </div>
        </article>

        <article class="flash-sale row text-center">
            <div class="col-md-12 mx-0 px-0  " >
                <h2 class="title-coupon text-uppercase title-main text-center">chi tiết sản phẩm</h2>
                <div class="coupon-detail-content text-left">
                    <p>Hăm tã là 1 trong những vấn đề bố mẹ quan tâm nhất khi dùng tã cho con. Mặc dù không quá đáng lo, nhưng khi bị hăm, bé thường thấy đau rát, khó chịu dẫn đến quấy khóc.</p>
                    <p>Vậy tã Mamamy Ultraflow giúp ngừa hăm tã, mẩn đỏ tối đa như thế nào?</p>
                    <br>
                    <p><strong>Hiểu đúng về nguyên nhân gây hăm & mẩn đỏ?</strong></p>
                    <p>Hăm tã bản chất là viêm da do vi khuẩn. Khi bé đi vệ sinh mà chiếc bỉm không thấm hút nhan h và giữ nước tốt để nước tiểu không bị thấm ngược lại thì rất dễ dẫn đến hăm tã. Bởi nước tiểu vốn không có vi khuẩn. Sau khi ra ngoài tiếp xúc với môi trường bên ngoài nó sẽ sinh ra vi khuẩn. Chính những vi khuẩn đó khi không được thấm hút tốt, làm ẩm ướt mông bé thì sẽ dẫn đến viêm da. Hay còn gọi là hăm tã.</p>
                    <p>Chính vì thế,</p>
                    <p><strong>Nhiệm vụ của tã Mamamy:</strong> Trong vòng 15s sau khi bé tè phải thấm hút hết, giữ chặt nước lại, không thấm ngược lên.</p>
                    <img style="width: 60%;" src="./images/coupon/coupon-detail.jpg">

                    <p>Hăm tã là 1 trong những vấn đề bố mẹ quan tâm nhất khi dùng tã cho con. Mặc dù không quá đáng lo, nhưng khi bị hăm, bé thường thấy đau rát, khó chịu dẫn đến quấy khóc.</p>
                    <p>Vậy tã Mamamy Ultraflow giúp ngừa hăm tã, mẩn đỏ tối đa như thế nào?</p>
                    <br>
                    <p><strong>Hiểu đúng về nguyên nhân gây hăm & mẩn đỏ?</strong></p>
                    <p>Hăm tã bản chất là viêm da do vi khuẩn. Khi bé đi vệ sinh mà chiếc bỉm không thấm hút nhan h và giữ nước tốt để nước tiểu không bị thấm ngược lại thì rất dễ dẫn đến hăm tã. Bởi nước tiểu vốn không có vi khuẩn. Sau khi ra ngoài tiếp xúc với môi trường bên ngoài nó sẽ sinh ra vi khuẩn. Chính những vi khuẩn đó khi không được thấm hút tốt, làm ẩm ướt mông bé thì sẽ dẫn đến viêm da. Hay còn gọi là hăm tã.</p>
                    <p>Chính vì thế,</p>
                    <p><strong>Nhiệm vụ của tã Mamamy:</strong> Trong vòng 15s sau khi bé tè phải thấm hút hết, giữ chặt nước lại, không thấm ngược lên.</p>
                </div>
            </div>
        </article>

        <article class="flash-sale row text-center">
            <div class="col-md-12 mx-0 px-0  " >
            	<h2 class="title-coupon text-uppercase title-main text-center">sản phẩm cùng loại</h2>
            	<div class="block-coupon-product">
	                <div class="coupon-product-detail">
                        <a href="javascript:void(0)" class="coupon-product-detail-img">
                            <span class="sale-percenter">-50%</span>
                            <img src="./images/coupon/product-1.jpg">
                        </a>
                        <div class="coupon-product-detail-copy">
                            <a class="coupon-product-detail-copy-content" href="javascript:void(0)">
                                <h3 class="coupon-product-detail-title">Combo 03 Túi bổ sung Bọt tắm gội thiên nhiên Mamamy 200ml 186.6 copy 2</h3>
                                <p><strong>186.000 VNĐ</strong> <span>249.000 VNĐ</span></p>
                            </a>
                        </div>
                    </div>
                    <div class="coupon-product-detail">
                        <a href="javascript:void(0)" class="coupon-product-detail-img">
                            <span class="sale-percenter">-50%</span>
                            <img src="./images/coupon/product-2.jpg">
                        </a>
                        <div class="coupon-product-detail-copy">
                            <a class="coupon-product-detail-copy-content" href="javascript:void(0)">
                                <h3 class="coupon-product-detail-title">Combo 03 Túi bổ sung Bọt tắm gội thiên nhiên Mamamy 200ml 186.6 copy 2</h3>
                                <p><strong>186.000 VNĐ</strong> <span>249.000 VNĐ</span></p>
                            </a>
                        </div>
                    </div>
                    <div class="coupon-product-detail">
                        <a href="javascript:void(0)" class="coupon-product-detail-img">
                            <span class="sale-percenter">-50%</span>
                            <img src="./images/coupon/product-3.jpg">
                        </a>
                        <div class="coupon-product-detail-copy">
                            <a class="coupon-product-detail-copy-content" href="javascript:void(0)">
                                <h3 class="coupon-product-detail-title">Combo 03 Túi bổ sung Bọt tắm gội thiên nhiên Mamamy 200ml 186.6 copy 2</h3>
                                <p><strong>186.000 VNĐ</strong> <span>249.000 VNĐ</span></p>
                            </a>
                        </div>
                    </div>
                    <div class="coupon-product-detail">
                        <a href="javascript:void(0)" class="coupon-product-detail-img">
                            <span class="sale-percenter">-50%</span>
                            <img src="./images/coupon/product-4.jpg">
                        </a>
                        <div class="coupon-product-detail-copy">
                            <a class="coupon-product-detail-copy-content" href="javascript:void(0)">
                                <h3 class="coupon-product-detail-title">Combo 03 Túi bổ sung Bọt tắm gội thiên nhiên Mamamy 200ml 186.6 copy 2</h3>
                                <p><strong>186.000 VNĐ</strong> <span>249.000 VNĐ</span></p>
                            </a>
                        </div>
                    </div>
                    <div class="coupon-product-detail">
                        <a href="javascript:void(0)" class="coupon-product-detail-img">
                            <span class="sale-percenter">-50%</span>
                            <img src="./images/coupon/product-5.jpg">
                        </a>
                        <div class="coupon-product-detail-copy">
                            <a class="coupon-product-detail-copy-content" href="javascript:void(0)">
                                <h3 class="coupon-product-detail-title">Combo 03 Túi bổ sung Bọt tắm gội thiên nhiên Mamamy 200ml 186.6 copy 2</h3>
                                <p><strong>186.000 VNĐ</strong> <span>249.000 VNĐ</span></p>
                            </a>
                        </div>
                    </div>


                </div>
            </div>

            <div class="load-more-product">
                <a class="load-more-btn" href="javascript:void(0)">Tải thêm sản phẩm</a>
            </div>
        </article>

        <article class="flash-sale row text-center">
            <div class="col-md-12 mx-0 px-0  " >
                <h2 class="title-coupon text-uppercase title-main text-center">ĐÁNH GIÁ SẢN PHẨM</h2>
                <div class="block-rating-product text-left">
                    <div class="block-rating-product-head">
                        <div class="block-rating-product-head-left">
                            <p><strong>4.1</strong> trên 5</p>
                            <div class="rating-stars">
                                <!-- <i class="s s0"></i> -->
                                <div class="show-rating-block">
                                    <div class="show-rating-star">
                                        <input type="hidden" name="" class="star-5-show">
                                        <label class="rating-star show-rating-star-show"></label>
                                        <label class="rating-star show-rating-star-show"></label>
                                        <label class="rating-star show-rating-star-show"></label>
                                        <label class="rating-star show-rating-star-show"></label>
                                        <label class="rating-star show-rating-star-disable"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-rating-product-head-right">
                            <a class="active product-star" href="">5 Sao (155)</a>
                            <a class="product-star" href="">4 Sao (155)</a>
                            <a class="product-star" href="">3 Sao (1)</a>
                            <a class="product-star" href="">2 Sao (0)</a>
                            <a class="product-star" href="">1 Sao (0)</a>
                            <a class="product-star" href="">Có Bình Luận (54)</a>
                            <a class="product-star" href="">Có Ảnh/Video (84)</a>
                        </div>
                    </div>

                    <div class="product-detail-comment-list">
                        <div class="product-detail-comment-detail">
                            <div class="product-detail-comment-detail-img">
                                <img src="./images/mua-hang/avatar.jpg">
                            </div>
                            <div class="product-detail-comment-detail-content">
                                <h6>linh.nguyen07</h6>
                                <div class="rating-stars">
                                    <div class="show-rating-block">
                                        <div class="show-rating-star">
                                            <input type="hidden" name="" class="star-5-show">
                                            <label class="rating-star show-rating-star-show"></label>
                                            <label class="rating-star show-rating-star-show"></label>
                                            <label class="rating-star show-rating-star-show"></label>
                                            <label class="rating-star show-rating-star-show"></label>
                                            <label class="rating-star show-rating-star-disable"></label>
                                            <span class="number-of-rating" data-number="341">(Đã mua hàng)</span>
                                        </div>

                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus consequat tortor non rhoncus. Sed pellentesque quam orci, at interdum magna aliquet vel. Duis posuere ultricies justo. Ut hendrerit magna ex, vel rhoncus odio eleifend nec. Nam vel enim sit amet nunc fermentum lacinia.</p>
                                <div class="product-detail-comment-media">
                                    <img src="./images/mua-hang/media-comment.jpg">
                                </div>
                                <p class="product-detail-comment-time">05-05-2021 23:22</p>
                                <a href="" class="product-detail-comment-huu-ich"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Hữu ích?</a>
                            </div>
                        </div>
                        <div class="product-detail-comment-detail">
                            <div class="product-detail-comment-detail-img">
                                <img src="./images/mua-hang/avatar.jpg">
                            </div>
                            <div class="product-detail-comment-detail-content">
                                <h6>linh.nguyen07</h6>
                                <div class="rating-stars">
                                    <div class="show-rating-block">
                                        <div class="show-rating-star">
                                            <input type="hidden" name="" class="star-5-show">
                                            <label class="rating-star show-rating-star-show"></label>
                                            <label class="rating-star show-rating-star-show"></label>
                                            <label class="rating-star show-rating-star-show"></label>
                                            <label class="rating-star show-rating-star-show"></label>
                                            <label class="rating-star show-rating-star-disable"></label>
                                            <span class="number-of-rating" data-number="341">(Đã mua hàng)</span>
                                        </div>

                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus consequat tortor non rhoncus. Sed pellentesque quam orci, at interdum magna aliquet vel. Duis posuere ultricies justo. Ut hendrerit magna ex, vel rhoncus odio eleifend nec. Nam vel enim sit amet nunc fermentum lacinia.</p>
                                <div class="product-detail-comment-media">
                                    <img src="./images/mua-hang/media-comment.jpg">
                                </div>
                                <p class="product-detail-comment-time">05-05-2021 23:22</p>
                                <a href="" class="product-detail-comment-huu-ich"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Hữu ích?</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </article>

    </main>

    <footer>
        <div class="text-center">
            <p class="mb-0 footer-like">
                Chúng tôi "Thích" tạo ra những sản phẩm an toàn, chăm sóc trẻ em tốt nhất. Bạn cũng "Thích" Mamamy chứ ?
            </p>
        </div>
        <div class="row mx-0 px-0 footer-content">
            <div class="col-md-6 footer-content-left">
                <span class="title-footer-content text-white">Điểm bán</span>
                <span class="title-footer-content text-white">Câu hỏi Thường gặp</span>
                <span class="title-footer-content text-white">Chính sách và điều khoản</span>
                <p class="footer-contact">Công ty TNHH Thương Mại và Đầu tư Đông Hiệp<br>
                    Địa chỉ: Lô CN7, Cụm Công nghiệp Từ Liêm, Phường Minh Khai, Quận Bắc Từ Liêm, Hà Nội<br>
                    Điện thoại: 02437160270<br>
                    Email: contact@mamamy.com<br>
                    Người đại diện: Nguyễn Thị Thủy Lệ<br>
                    Giấy chứng nhận ĐKKD: Số 0101159195 do Sở kế hoạch và Đầu tư Thành phố Hà Nội <br>
                    cấp ngày 24/12/2019.</p>
            </div>
            <div class="col-md-6 text-right footer-content-right">
                <div class="block-fanpage-icons">
                    <a href=""><img src="./images/icons/fb.png" alt=""></a>
                    <a href=""><img src="./images/icons/youtube.png" alt=""></a>
                    <a href=""><img src="./images/icons/instagram.png" alt=""></a>
                    <a href=""><img src="./images/icons/in.png" alt=""></a>
                    <a href=""><img src="./images/icons/google.png" alt=""></a>
                    <a href=""><img src="./images/icons/mail.png" alt=""></a>
                    <a href=""><img src="./images/icons/b.png" alt=""></a>
                    <a href=""><img src="./images/icons/zalo-footer.png" alt=""></a>
                </div>
                <p class="copyright ">© Copyright 2018 Mamamy. All Right Reserved</p>
                <img src="./images/cong-thuong.png" class="cong-thuong-logo" alt="">
                <div class="block-social-icons">
                    <div class="social-icons">
                        <a href=""><img src="./images/icons/cart.png" alt=""></a>
                        <a href=""><img src="./images/icons/phone.png" alt=""></a>
                        <a href=""><img src="./images/icons/zalo.png" alt=""></a>
                        <a href=""><img src="./images/icons/messager.png" alt=""></a>
                        <a class="totop" href=""><img src="./images/totop.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        
    </footer>

    <div class="nav-search">
        <div class="block-input-search">
            <input type="text" name="keyword" placeholder="Tìm kiếm sản phẩm ...">
            <i class="fa fa-search mx-1"></i>
        </div>
        <h3>Lịch sử tìm kiếm</h3>
        <p><a href=""> Tã quần</a></p>
        <p><a href=""> Xịt viêm da kháng khuẩn</a></p>
        <p><a href=""> Khăn ướt cồn kháng khuẩn</a></p>
        <h3>Tìm kiếm phổ biến</h3>
        <div class="nav-search-category">
            <a href="">Bỉm thanh lý</a>
            <a href="">M1T1 khăn ướt</a>
            <a href="">M1T1 khăn khô </a>
            <a href="">Xịt hăm giảm 49%</a>
            <a href="">Bỉm thêm miếng</a>
            <a href="">Giảm tới 50% các sản phẩm</a>
            
        </div>
        <h3>Danh mục</h3>
        <div class="nav-search-category">
            <a href="">Tã - Bỉm </a>
            <a href="">Khăn ướt &amp; Khăn khô</a>
            <a href="">Tắm gội</a>
            <a href="">Giặt xả</a>
            <a href="">Bình sữa &amp; Dụng cụ</a>
            
        </div>
        <h3>Tìm trong góc của mẹ</h3>
        <div class="nav-search-category">
            <a href="">Góc Mamamy</a>
            <a href="">Thụ thai</a>
            <a href="">Mang thai</a>
            <a href="">Sinh &amp; Sau sinh</a>
            <a href="">Chăm sóc bé</a>
            <a href="">Dinh dưỡng cho bé</a>
            <a href="">Nuôi dạy con</a>
            <a href="">Tâm sự to nhỏ</a>
            <a href="">Cẩm nang &amp; E-magazine</a>
        </div>
    </div>
    
    <aside id="cartfix">
        <a href="javascript:void(0)">
            <img src="./images/icons/cartfix.png" alt="">
            <span class="count-cart">22</span>
        </a>
    </aside>
    
</body>
<!-- <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script> -->
<script src="./js/splide.min.js"></script>

<script src="./js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="./js/countdown.js"></script>
<script src="./js/app.js"></script>
<script>
    document.addEventListener( 'DOMContentLoaded', function () {
        let item = 5;
        // Slide for coupon
        c = document.querySelector('#coupon-slider');
        if( c )
        new Splide( '#coupon-slider', {
            perPage    : item,
            breakpoints: {
                300: {
                    perPage: 1,
                }
            },
            autoplay: true,
            type: 'loop',
            classes: {
                arrows: 'splide__arrows your-class-arrows',
                arrow : 'splide__arrow your-class-arrow',
                prev  : 'splide__arrow--prev your-class-prev',
                next  : 'splide__arrow--next your-class-next',
            },
            lazyload: 'loaded',
            interval: 3000,
            pagination: false,
            // autoWidth: true
        } ).mount();

    } );


    document.addEventListener( 'DOMContentLoaded', function () {
	var secondarySlider = new Splide( '#example-sync-thumbnail', {
		fixedWidth  : 100,
		height      : 60,
		gap         : 10,
		cover       : true,
		isNavigation: true,
		focus       : 'center',
		breakpoints : {
			'600': {
				fixedWidth: 66,
				height    : 40,
			}
		},
	} ).mount();
	
	var primarySlider = new Splide( '#example-sync', {
		type       : 'fade',
		heightRatio: 0.5,
		pagination : false,
		arrows     : false,
		cover      : true,
	} ); // do not call mount() here.
	
	primarySlider.sync( secondarySlider ).mount();
} );
</script>
</html>