<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/07737f77be.js"></script>

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <title>Story - Mamamy</title>
    <link rel="stylesheet" href="./css/splide.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <!-- header -->
    <div class="header">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <h1 hidden>Story - Mamamy</h1>
                <a class="navbar-brand mx-auto" href="javascript:void(0)">
                    <img src="./images/icons/logo.png" class="logo"  alt="">
                </a>
                <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navb" aria-expanded="false">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>

                <div class="navbar-collapse collapse" id="navb">
                  <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                      <a class="nav-link text-dark" href="javascript:void(0)">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link color-master" href="javascript:void(0)">Mamamy's Story</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-dark" href="javascript:void(0)">Sản phẩm</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-dark" href="javascript:void(0)">Mua hàng</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-dark" href="javascript:void(0)">Góc của mẹ</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-dark" href="javascript:void(0)">Đổi quà</a>
                    </li>
                  </ul>
                </div>
                <div class="icon-header">
                    <a href="javascript:void(0)"><i class="fa fa-user text-secondary mx-1"></i></a>
                    <a href="javascript:void(0)"><i class="fa fa-search text-secondary mx-1"></i></a>
                    <a href="javascript:void(0)"><i class="fa fa-bell text-secondary mx-1"></i></a>
                </div>
            </nav>
        </div>

    </div>
    <!-- end header -->

    <!-- body -->
    <main class="body">
        <article class="block-breadcrumb ">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">Home</li>
                <li class="breadcrumb-item active" aria-current="page">Story</li>
            </ol>
        </article>
        <!-- banner -->
        <article class="banner-home">
            <div class="banner-home-left">
                <div class="banner-home-left-text">
                    <h3>MAMAMY STORY</h3>
                    <p>Hệ sản phẩm Mamamy - Baby good goods với các sản phẩm có công năng vượt trội và thành phần mới nhất, an toàn cho cả trẻ sơ sinh, chú trọng sử dụng các thành phần thiên nhiên - xu hướng của thế giới để luôn là thương hiệu lựa chọn đầu tiên của mẹ cho bé.</p>
                </div>
            </div>
            <div class="banner-home-right">
                <div class="banner-home-right-img">
                    <img src="./images/story/banner_story.jpg">
                </div>
            </div>
        </article>

        <article class=" text-center m-0 p-0">
            <div class="col-md-12 row  block-story-slogan text-left m-0 p-0" >
                <div class="col-md-6 m-0 p-0 block-story-slogan-left">
                    <div class="block-story-slogan-text text-left">
                        <h3>Sứ mạng & tôn chỉ   </h3>
                        <p>Ra đời vào năm 2007 – cách đây hơn 10 năm, Mamamy với sứ mạng:<br>
						<strong>“Tạo ra những sản phẩm an toàn, chăm sóc trẻ em tốt nhất”</strong></p>

						<p>Chúng tôi đã luôn rất khắt khe trong việc lựa chọn các thành phần tạo nên sản phẩm. Đối với sản phẩm chăm sóc trẻ em, mối quan tâm lớn nhất là sự an toàn. Để đảm bảo các sản phẩm 100% an toàn, chúng tôi đã
							đưa ra tôn chỉ:<br>
							<strong>“Không sử dụng những thành phần đã bị cấm sử dụng tại các nước tiên tiến trên thế giới – do có khả năng không tốt cho sức khỏe”</strong><br>
							Dù các thành phần đó chưa bị cấm sử dụng tại Việt Nam.
						</p>
                    </div>
                </div>
                <div class="col-md-6 p-0 m-0">
                    <img src="./images/story/banner-slogan.jpg" class="product-img" alt="">
                </div>
            </div>
        </article>


        <article class="article-certificate text-center">
            <div class="col-md-12 row  block-certificate ">
            	<h2 class="block-certificate-title text-uppercase title-main col-md-12">Hệ sản phẩm được kiểm nghiệm <br>& bảo chứng chất lượng </h2>
                <p class="block-certificate-description col-md-12">Làm ra một sản phẩm an toàn cho trẻ thật đấy, nhưng làm sao giúp khách hàng có cơ sở tin vào điều đó để lựa chọn? <br>
					Chúng tôi quyết định chọn cách <strong>“luôn chủ động đưa sản phẩm tới kiểm định tại các tổ chức uy tín hàng đầu trong nước và quốc tế”</strong> với những cái tên như:</p>
                <div class="certificate-detail">
                    <a href="javascript:void(0)">
                        <img class="certificate-img" src="./images/story/chungchi1.png">
                        <h3 class="certificate-title">HỘI PHỤ SẢN VIỆT NAM </h3>
                        <p class="certificate-description">Khuyên dùng <br>cho cả trẻ sơ sinh.</p>
                    </a>
                </div>
                <div class="certificate-detail">
                    <a href="javascript:void(0)">
                        <img class="certificate-img" src="./images/story/chungchi2.png">
                        <h3 class="certificate-title">HỘI PHỤ SẢN VIỆT NAM </h3>
                        <p class="certificate-description">Khuyên dùng <br>cho cả trẻ sơ sinh.</p>
                    </a>
                </div>
                <div class="certificate-detail">
                    <a href="javascript:void(0)">
                        <img class="certificate-img" src="./images/story/chungchi3.png">
                        <h3 class="certificate-title">HỘI PHỤ SẢN VIỆT NAM </h3>
                        <p class="certificate-description">Khuyên dùng <br>cho cả trẻ sơ sinh.</p>
                    </a>
                </div>
                <div class="certificate-detail">
                    <a href="javascript:void(0)">
                        <img class="certificate-img" src="./images/story/chungchi4.png">
                        <h3 class="certificate-title">HỘI PHỤ SẢN VIỆT NAM </h3>
                        <p class="certificate-description">Khuyên dùng <br>cho cả trẻ sơ sinh.</p>
                    </a>
                </div>

            </div>
        </article>

        <article class=" text-center m-0 p-0">
            <div class="col-md-12 row  block-product-system text-left m-0 p-0" >
            	<div class="col-md-6 p-0 m-0">
                    <img src="./images/story/banner-product.jpg" class="product-img" alt="">
                </div>
                <div class="col-md-6 m-0 p-0 block-story-slogan-left">
                    <div class="block-product-system-text text-left">
                        <h3>Hệ sản phẩm</h3>
                        <h4>VỚI thành phần & CÔNG NĂNG VƯỢT TRỘI</h4>
                        <p>Luôn tâm niệm rằng, đối tượng khách hàng mà Mamamy phục vụ chính là các trẻ nhỏ từ sơ sinh. Nên chúng tôi luôn tìm tòi các thành phần nguyên vật liệu có tính năng chăm sóc vượt trội đưa vào sản phẩm để hỗ trợ bảo vệ, chăm sóc trẻ.</p>

						<p>Cùng các công năng, những sáng chế, những giải pháp hữu ích độc quyền để khách hàng sử dụng sản phẩm một cách tiện ích nhất, giúp phát huy hiệu quả sản phẩm cao nhất.</p>

						<p>Cách chúng tôi tạo ra sản phẩm là như thế. Luôn đòi hỏi cao hơn nhu cầu thị trường. Chỉ là bởi chúng tôi mong muốn sản phẩm của Mamamy luôn là những <strong>“SẢN PHẨM CHĂM SÓC”</strong> theo đúng nghĩa của nó.</p>
                    </div>
                </div>
            </div>
        </article>

        <article class="article-baby-good row text-left mx-0 px-0">
        	<img class="article-baby-good-background" src="./images/story/story-background.jpg">
            <div class="article-baby-good-content ">
	            <div class="article-baby-good-text ">
	            	<!-- <h3>&#8220; Tất cả những gì Mamamy làm ra đều tốt cho trẻ! &#8221;</h3> -->
	            	<h3>Tất cả những gì Mamamy làm ra đều tốt cho trẻ!</h3>
	            	<p>Hơn 10 năm phục vụ, Mamamy đã luôn nhận được sự tin yêu của khách hàng để rồi <br>
					hạnh phúc nhận danh hiệu <strong>“Khăn ướt số 1*”.</strong></p>
					<p>Xin gửi lời cảm ơn sâu sắc!</p>
					<p class="article-baby-good-sign">Mamamy - Baby good goods</p>

                </div>
            </div>
            <div class="article-baby-good-note ">
            	<i>*Theo báo cáo của Nielsen: MAMAMY LÀ NHÃN HIỆU ĐỨNG ĐẦU THỊ PHẦN về doanh thu và sản lượng bán ra trong ngành Khăn giấy ướt trẻ em<br> tại thị trường 6 thành phố (thành phố Hồ Chí Minh, Hà Nội, Hải Phòng, Đà Nẵng, Nha Trang, Cần Thơ) từ tháng 4/2016 đến tháng 3/2018.</i>
            </div>
        </article>



    </main>

    <footer>
        <div class="text-center">
            <p class="mb-0 footer-like">
                Chúng tôi "Thích" tạo ra những sản phẩm an toàn, chăm sóc trẻ em tốt nhất. Bạn cũng "Thích" Mamamy chứ ?
            </p>
        </div>
        <div class="row mx-0 px-0 footer-content">
            <div class="col-md-6 footer-content-left">
                <span class="title-footer-content text-white">Điểm bán</span>
                <span class="title-footer-content text-white">Câu hỏi Thường gặp</span>
                <span class="title-footer-content text-white">Chính sách và điều khoản</span>
                <p class="footer-contact">Công ty TNHH Thương Mại và Đầu tư Đông Hiệp<br>
                    Địa chỉ: Lô CN7, Cụm Công nghiệp Từ Liêm, Phường Minh Khai, Quận Bắc Từ Liêm, Hà Nội<br>
                    Điện thoại: 02437160270<br>
                    Email: contact@mamamy.com<br>
                    Người đại diện: Nguyễn Thị Thủy Lệ<br>
                    Giấy chứng nhận ĐKKD: Số 0101159195 do Sở kế hoạch và Đầu tư Thành phố Hà Nội <br>
                    cấp ngày 24/12/2019.</p>
            </div>
            <div class="col-md-6 text-right footer-content-right">
                <div class="block-fanpage-icons">
                    <a href=""><img src="./images/icons/fb.png" alt=""></a>
                    <a href=""><img src="./images/icons/youtube.png" alt=""></a>
                    <a href=""><img src="./images/icons/instagram.png" alt=""></a>
                    <a href=""><img src="./images/icons/in.png" alt=""></a>
                    <a href=""><img src="./images/icons/google.png" alt=""></a>
                    <a href=""><img src="./images/icons/mail.png" alt=""></a>
                    <a href=""><img src="./images/icons/b.png" alt=""></a>
                    <a href=""><img src="./images/icons/zalo-footer.png" alt=""></a>
                </div>
                <p class="copyright ">© Copyright 2018 Mamamy. All Right Reserved</p>
                <img src="./images/cong-thuong.png" class="cong-thuong-logo" alt="">
                <div class="block-social-icons">
                    <div class="social-icons">
                        <a href=""><img src="./images/icons/cart.png" alt=""></a>
                        <a href=""><img src="./images/icons/phone.png" alt=""></a>
                        <a href=""><img src="./images/icons/zalo.png" alt=""></a>
                        <a href=""><img src="./images/icons/messager.png" alt=""></a>
                        <a class="totop" href=""><img src="./images/totop.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>

    </footer>

    <div class="nav-search">
        <div class="block-input-search">
            <input type="text" name="keyword" placeholder="Tìm kiếm sản phẩm ...">
            <i class="fa fa-search mx-1"></i>
        </div>
        <h3>Lịch sử tìm kiếm</h3>
        <p><a href=""> Tã quần</a></p>
        <p><a href=""> Xịt viêm da kháng khuẩn</a></p>
        <p><a href=""> Khăn ướt cồn kháng khuẩn</a></p>
        <h3>Tìm kiếm phổ biến</h3>
        <div class="nav-search-category">
            <a href="">Bỉm thanh lý</a>
            <a href="">M1T1 khăn ướt</a>
            <a href="">M1T1 khăn khô </a>
            <a href="">Xịt hăm giảm 49%</a>
            <a href="">Bỉm thêm miếng</a>
            <a href="">Giảm tới 50% các sản phẩm</a>

        </div>
        <h3>Danh mục</h3>
        <div class="nav-search-category">
            <a href="">Tã - Bỉm </a>
            <a href="">Khăn ướt &amp; Khăn khô</a>
            <a href="">Tắm gội</a>
            <a href="">Giặt xả</a>
            <a href="">Bình sữa &amp; Dụng cụ</a>

        </div>
        <h3>Tìm trong góc của mẹ</h3>
        <div class="nav-search-category">
            <a href="">Góc Mamamy</a>
            <a href="">Thụ thai</a>
            <a href="">Mang thai</a>
            <a href="">Sinh &amp; Sau sinh</a>
            <a href="">Chăm sóc bé</a>
            <a href="">Dinh dưỡng cho bé</a>
            <a href="">Nuôi dạy con</a>
            <a href="">Tâm sự to nhỏ</a>
            <a href="">Cẩm nang &amp; E-magazine</a>
        </div>
    </div>

    <aside id="cartfix">
        <a href="javascript:void(0)">
            <img src="./images/icons/cartfix.png" alt="">
            <span class="count-cart">22</span>
        </a>
    </aside>

</body>
<!-- <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script> -->
<script src="./js/splide.min.js"></script>

<script src="./js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="./js/countdown.js"></script>
<script src="./js/app.js"></script>
<script>
    document.addEventListener( 'DOMContentLoaded', function () {
        let item = 5;
        c = document.querySelector('#gift-slider');
        if( c )

        new Splide( '#gift-slider', {
            perPage    : 1,
            breakpoints: {
                300: {
                    perPage: 1,
                }
            },
            autoplay: true,
            type: 'loop',
            classes: {
                arrows: 'splide__arrows your-class-arrows',
                arrow : 'splide__arrow your-class-arrow',
                prev  : 'splide__arrow--prev your-class-prev',
                next  : 'splide__arrow--next your-class-next',
            },
            lazyload: 'loaded',
            interval: 3000,
            // autoWidth: true
        } ).mount();

    } );
</script>
</html>
